@{
    ViewBag.Title = "О программе";
}

<div class="shadow-card p-4">
    <h1>Немного о разработке</h1><hr/>
    <h4>Сайт является курсовой работой <b>Пакина Максима</b> и использует технологию <b>ASP.Net: MVC 5</b>. В ходе работы требовалось продемонстрировать знания языка C#, технологии ASP.Net и навыки работы с системой контроля версий.</h4>
    <h4>В кусовой работе использовалась библиотека для работы с MS Word документами - <b>NPOI</b>, а для осуществления шифрования, расшифровки и поиска ключа использовался собственный алгоритм. Конкретно "Поиск ключа" использует частотный анализ и исключение невозможных вариантов.</h4>
    <hr/>
    <h4><b>Студент:</b> Пакин Максим</h4>
    <h4><b>Учебное заведение:</b> Университет ИТМО</h4>
    <h4><b>Преподователь:</b> Исаев Александр</h4>
    <h4><b>Организатор:</b> First Line Software</h4>
</div>
