@{
    ViewBag.Title = "Контакты";
}

<div class="container shadow-card p-4">
    <h2>Ссылки на разработчика:</h2>
    <div class="row mt-3 mb-3">
        <a class="ml-3" href="https://vk.com/pakinmaksim" target="_blank"><img src="~/Content/icons/vk.png"></a>
        <a class="ml-3" href="https://www.instagram.com/maximpakin/" target="_blank"><img src="~/Content/icons/instagram.png"></a>
        <a class="ml-3" href="https://github.com/maxPakin" target="_blank"><img src="~/Content/icons/github.png"></a>
    </div>
    
    <p><b>Поддержка:</b> <a href="mailto:pakinmaksim@mail.ru">pakinmaksim@mail.ru</a></p>
</div>