@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <div>
        <input type="text" name="textInput" class="form-control" placeholder="Шифр Цезаря может расшифровать только наш сайт"/>
        <input type="file" name="upload"/>
    </div>
    <input type="submit" name="action" value="Зашифровка"/>
    <input type="submit" name="action" value="Расшифровка"/>
    <input type="submit" name="action" value="Найти ключ"/>
}

