@{
    ViewBag.Title = "Главная";
}


@using (Html.BeginForm("", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container shadow-card">
        <div class="row justify-content-center text-center">
            <div class="col-md-4" style="min-width: 270px;">
                    <img style="height: 350px;" src="~/Content/caesar.png"/>
            </div>
            <div class="col-md-8" style="padding-top: 30px;">
                <h2>Шифр Цезаря</h2>
                <hr/>
                <h4>Калькулятор шифрует входной текст на русском языке при помощи шифра Цезаря. Неалфавитные символы (пробелы, знаки препинания, цифры) — не преобразуются.</h4>
                <h4>В качестве файла принимаются лишь <strong>.txt</strong> и <strong>.docx</strong> файлы</h4>
            </div>

        </div>
        <div class="container m-2 text-center">
            <textarea name="text" placeholder="Ваш текст"></textarea>
            <h3 class="text-with-lines"><span>или</span></h3>
            <input type="file" name="file" class="text-center m-auto" accept="text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
        </div>
        
    </div>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-4">
                <div class="container shadow-card d-flex flex-column">
                    <div class="row justify-content-center">
                        <span class="f-24 pr-1">Ключ:</span>
                        <output class="f-24" id="range1Label">0</output>
                    </div>
                    <div class="row justify-content-center pr-3 pl-3">
                        <span>-32</span>
                        <input type="range" id="range1" min="-32" value="0" max="32" step="1" name="key" oninput="range1Label.value = range1.value"/>
                        <span>32</span>
                    </div><br/>
                    <input type="submit" name="action:Encryption" value="Зашифровка" class="btn btn-primary btn-lg mt-auto"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container shadow-card d-flex flex-column">
                    <div class="row justify-content-center">
                        <span class="f-24 pr-1">Ключ:</span>
                        <output class="f-24" id="range2Label">0</output>
                    </div>
                    <div class="row justify-content-center pr-3 pl-3">
                        <span>-32</span>
                        <input type="range" id="range2" min="-32" value="0" max="32" step="1" name="key" oninput="range2Label.value = range2.value"/>
                        <span>32</span>
                    </div><br/>
                    <input type="submit" name="action:Decryption" value="Расшифровка" class="btn btn-primary btn-lg mt-auto"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container shadow-card d-flex flex-column">
                        <span class="f-24">Функция поиска ключа</span>
                        <input type="submit" name="action:KeySearch" value="Найти ключ" class="btn btn-primary btn-lg mt-auto"/>
                </div>
            </div>
        </div>
    </div>
}

