body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fff;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 960px;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 0px;
}
textarea::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #4285F4;
}

span, h1, h2, h3, h4, h5, h6, textarea, label, a{
    font-family: 'Century Gothic';
}

.f-24 {
    font-size: 27px;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}


/* Основа с тенью для всех страниц */

.shadow-card {
    margin-top: 15px;
    background-color: #fafafa;
    border-radius: 0px !important;
    box-shadow: 0 0 12px rgba(0,0,0,0.25) !important;
    padding: 10px;
    min-width: 279px;
    min-height: 160px;
}


/* Стиль для блоков с текстом в Поиске ключа */

.f-block {
    padding: 10px;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    color: white;
}

.m-block {
    padding: 10px;
    background-color: white;
}
.m-textarea {
    background: transparent;
    border-width: 1px 0px 1px 0px;
}

.l-block {
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

@media (max-width: 768px){
    .f-block {
        border-radius: 15px 15px 0px 0px;
    }

    .l-block {
        border-radius: 0px 0px 15px 15px;
    }
}

/* Текст с линиями сбоку */

.text-with-lines{
  position:relative;
  text-align: center
}
.text-with-lines:before {
  content: "";
  display: block;
  border-top: solid 2px #bebebe;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
}
.text-with-lines span {
  background-color: #fafafa;
  padding: 0 10px;
  position: relative;
}

/* Слайдер */

input[type=range] {
  -webkit-appearance: none;
  height:5px;
  width: 80%;
  cursor: pointer;
  background: #07C;
  margin: 10px 5px;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #07C;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  margin-top: 0px; 
}

input[type=range]:focus {
  outline: none;
}