
@{
    ViewBag.Title = "Зашифровка";
}

<h2>@ViewBag.Title</h2>
<h3>Текст был зашифрован с ключом <strong>@ViewBag.Key</strong></h3>
<div class="border">
    <h4>@ViewBag.Text</h4>
</div>
<h3>Вы можете скачать результат:</h3>
<button value="Скачать"/>

