
@{
    ViewBag.Title = "Зашифровка";
}


<div class="container shadow-card" style="padding: 20px 30px;">
    <h2>Результаты зашифровки</h2><hr/>
    <h4>Текст был зашифрован с ключом <strong>@ViewBag.Key</strong></h4>
    <div class="border p-2 mb-3 bg-white">
        <p>@ViewBag.Text</p>
    </div>
    <h3 class="pb-2">Вы можете скачать результат:</h3>
    @using (Html.BeginForm("Download", "Crypt", FormMethod.Post))
    {
        <input name="shift" type="hidden" value="@ViewBag.Key">
        <button class="btn btn-success btn-lg" type="submit">Скачать</button>
    }
</div>


